.form-wrapper {
    // align-items: center;
    // align-content: center;
    // justify-content: center;
    // height: 80vh;
    margin-top: 2rem;
    display: flex;
}

.form-card {
  width: 100%;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 16px; // spacing between form fields
    width: 100%;
    padding-top: 2rem;
    // max-width: 400px;
    margin: 0 auto; // center horizontally

    mat-form-field {
        width: 100%;
        > input {
            width: 100%;
            padding: 12px; // increase padding for better touch targets
        }
    }
    
}

.card-footer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-top: 1rem;

    mat-chip {
        margin: 0 8px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}