<div class="form-header">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onActionChange($event)"
        [value]="actions[0].value">
        @for (action of actions; track action.value) {
        <mat-button-toggle [value]="action.value">{{action.key}}</mat-button-toggle>
        }

    </mat-button-toggle-group>

</div>
<div class="form-content">

    @switch (selectedChange()) {

    @case (actions[1].value) {
    <app-create></app-create>
    }

    @case (actions[2].value) {
    <p>Selected: {{ actions[2].value }}</p>
    }

    @case (actions[3].value) {
    <p>Selected: {{ actions[3].value }}</p>
    }

    @default {

        @if(rooms == null || rooms.length==0){
        <h3>No room available</h3>
        }
        @else{
        <ul>
            @for(room of rooms; track room.id){
            <li>{{room.id }}</li>
            }
        </ul>
        }

    }

    }
</div>